	/* All */
	* {
		margin:0px;
		padding:0px;
	}
	
	body {
		font-family: Calibri;
		background-color: #FFF;
		padding: 50px;
	}
		
	#navmenu, ul.sub1{
			list-style-type: none;
			outline: 1pxsolid red;
	}
	
	#navmenu, ul.sub2{
			list-style-type: none;
			outline: 1pxsolid red;
	}
	
	#navmenu li {
			width: 125px;
			text-align: center;
			position: relative;
			float: left;
	}
	
	#well li{
		list-style-type: none;
	}
			
	#navmenu a {
		font-family: calibri;
		font-size: 12px;
		text-decoration: none;
		display: block;
		width: 125px;
		height: 25px;
		line-height: 25px;
		background-color: white;
	}
			
	#header {
		text-align: center;
		font-family: calibri;
		font-size: 20px;
		background-color: white;
		border-bottom: 2px solid #010;
		margin-bottom: 1px;
		color #424242;
	}
	
	
	
	/* Content pannel for the info part in homepage */
	.info {
		font-family: Tahoma;
		font-size: 15px;
		height: auto;
		border: 1px solid;
		min-height: 200px;
		margin-left: 100px auto;
		width:500px;
		background-color: white; 
		border-radius: 5px; 
		border:1px solid #909090;
		box-shadow: 4px 4px 7px black;
		text-shadow: none;
		float: left;
		overflow: auto;
	}
	
	/* Content panel for the events attended by a student */
	.eventsattended {
		border: 1px solid red;
		width: 660px;
		float: right;
		min-height: 200px;
		border-radius: 5px; 
		border:1px solid #909090;
		box-shadow: 4px 4px 7px black;
		overflow: auto;
	}
	
	/* Main content pannel of the pages */
	.content {
		font-family: Tahoma;
		font-size: 15px;
		padding: 10px;
		height: auto;
		border: 1px solid black;
		min-height: 200px;
		margin:100px auto;
		width:1200px;
		background-color: white; 
		text-shadow: none;
		overflow: auto;
	}
	
	#navmenu .sub1 a {
		margin-top: 2px;
	}
	
	/* candidate i delete */
	#navmenu .sub2 a {
		margin-top: 2px;
	}
	
	#navmenu li:hover > a{
		background-color: #CFC;
	}
	
	
	#navmenu li:hover a:hover {
		background-color: #CFCFCF;
	}
	
	#navmenu ul.sub1 {
		display: none;
		position: absolute;
		top: 26px;
		left: 0px;
	}
	
	/* candidate i delete */
	#navmenu ul.sub2 {
		display: none;
		position: absolute;
		top: 26px;
		left: 0px;
	}
	
	#navmenu li:hover .sub1 {
		display: block;
	}
	
	#navmenu li:hover .sub2 {
		display: block;
	}
	
	.darrow {
		font-size: 14pt;
		position: absolute;
		top: 1px;
		right: 4px;
	}
	
	#CreateEventForm {
		font-family: verdana,helvetica;
		font-size: 12px;
		width: 400px;
		height: 150px;
		margin:100px auto;
		background-color: white; 
		padding: 40px;
		border-radius: 5px; 
		border:1px solid #909090;
		box-shadow: 0.3em 0.3em 0.7em black;	
	}
	
	#CreateEventForm h2,td {
		text-shadow: 0.2em 0.2em 0.4em #161616;
	}
	
	#searchBar td {
		text-shadow:0.2em 0.2em 0.4em black;
	}
	
	#login_form {
		position: relative;
		width:300px;
		height: 80%;
		margin: 80px auto;
		background-color: white; 
		border-radius: 5px; 
		border:1px solid #909090;
		padding: 30px;
		box-shadow: 0.4em 0.4em 0.7em black;
	}
	
	/* Date sa login page */
	#date_time {
		font-family: verdana, helvetica;
		font-size: 15px;
		position: relative;
	}

	#search_form {
		text-shadow:0.2em 0.2em 0.4em black;
		font-family: verdana,helvetica;
		font-size: 12px;
		width: 500px;
		height: 150px;
		margin:100px auto;
		background-color: white; 
		padding: 40px;
		border-radius: 5px; 
		border:1px solid #909090;
		box-shadow: 4px 4px 7px black;
	}

	#table_output thead > tr, tbody{
    		display: inline-block;
	}


	#table_output {
		border-radius: 10px;
		background-color:white;
		margin: 50px;
		box-shadow: 4px 4px 7px black;
	}

	#table_output td {
		color: #0b1cd2;
		padding: 10px;
		border:1px solid #0b1cd2;
		size: 50px;
	}

	#table_output tbody  {
		width: 350px;
	    height: 160px;
	   	overflow-y: auto;
		overflow-x: hidden;
		border-radius: 5px;
		background-color:  white;
	}
	
	
	
	/*
		Style to the Headers in viewing records
		of student or event
	*/
	th.recordheader {
		font-family: Tahoma;
		font-size: 11px;
	}
	
	td.recordheader {
		font-family: Tahoma;
		font-size: 15px;
	}
	
	/*
		In home page of the college, student
		The details part of the page
	*/
	.details {
		width: 300px;
		min-height: 200px;
		float: left;
		font-family: Tahoma;
		text-shadow: none;
		text-align: left;
		font-size: 18px;
	}
	
	.details table {
		padding-top: 40px;
		padding-left: 20px;
		margin-left: 10px;
		margin-right: auto;
		font-size: 15px;
	}
	
	.details tr, td {
		font-family: Tahoma;
		text-shadow: none;
	}
	
	/*
		In home page of the college, student
		The image part of the page
	*/
	.picture {
		width: 196px;
		min-height: 200px;
		float: right;
		font-family: Tahoma;
		text-shadow: none;
	}
	
	#tab {
		width: auto;
		height: 25px;
		padding-bottom: 1px;
		border-bottom: 1px solid black;
	}
	
	/* event table for college*/
	#eventTable{

		border-spacing: 0px;
		margin:auto;
	}
	#eventTable tr{
		border:3px solid red;
	}
	#eventTable th,td{
		text-align:center;
		margin:auto;
		padding:2px 20px;
	}
	#eventTable th{
		background-color:pink;
	}
	#eventTable tr:hover > td{
		background-color: hsl(0,0%,40%);
	}
	
	#eventTable td  a{
		text-decoration: none;
		border:1px solid black;
		display:block;
		margin:0;
	}
	
	/* event table wrapper*/
	
	.eventWrapper{
	}
	
	/***/
	
.myDataTable {
    background: 444;
	margin:auto;
}


.myDataTable thead tr th {
    height: 28px;
    font-size: 14px;
    font-family: tahoma, helvetica, arial, sans-serif;
    padding-left: 5px;
}

.myDataTable thead tr th img {
    padding-right: 5px;
    padding-top: 1px;
}

.myDataTable thead tr td {
    height: 15px;
    font-size: 11px;
    font-weight: bold;
    font-family: tahoma, helvetica, arial, sans-serif;
    padding-left: 5px;
}

.myDataTable tbody {
    background: #f2f5f9;
}

.myDataTable tbody tr:nth-child(even) td,tbody tr.even td {
    background: #e2ebf4;
    font-size: 12px;
    padding-left: 5px;
    height: 14px;
}

.myDataTable tbody tr:nth-child(odd) td,tbody tr.odd td {
    background: #f7faff;
    font-size: 12px;
    padding-left: 5px;
    height: 14px;
}

.myDataTable tbody tr:hover td {
    background-color: #e7e7e7;
}

.myDataTable tbody tr td {
    height: 14px;
    padding-left: 5px;
    font-size: 12px;
}

.myDataTable tbody tr td a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.myDataTable thead tr th a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    display: inline;
}